.textInput {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0px 15px;
  width: 100%;
  min-height: 50px;
}
.rangeInput {
  margin-bottom: 10px;
  width: 100%;
}
.copyIcon {
  font-size: 23px;
  margin: 0px 5px;
  position: absolute;
  right: 9px;
  background-color: white;
  color: black;
}


